In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import datetime
import seaborn as sns
%matplotlib inline

In [2]:
# Read Session. Keep only those records with a userId
sessions =  pd.read_csv('../all/sessions.csv')
sessions = sessions[sessions.user_id.isnull()==False]
sessions = sessions[sessions.secs_elapsed.isnull()==False]

In [3]:
display("%d users in the training set." % sessions.shape[0])
display("Number of Nulls in each columns:")
display(sessions.isnull().sum())
display("Describe :")
display(sessions.describe())

print("user_id : {}\n".format(len((sessions.user_id.unique()))))
print("action : {}\n".format(len((sessions.action.unique()))))
print("action_type : {}\n".format(len(sessions.action_type.unique())))
print("action_detail : {}\n".format(len(sessions.action_detail.unique())))
print("device_type : {}\n".format(len(sessions.device_type.unique())))

print("Combined : {}\n".format(len((sessions['action'] + '_'+ sessions['action_type'] +  "_" + sessions['action_detail']).unique())))

'10397758 users in the training set.'

'Number of Nulls in each columns:'

user_id                0
action             64062
action_type      1119766
action_detail    1119766
device_type            0
secs_elapsed           0
dtype: int64

'Describe :'

       secs_elapsed
count  1.039776e+07
mean   1.941124e+04
std    8.890920e+04
min    0.000000e+00
25%    2.290000e+02
50%    1.146000e+03
75%    8.442000e+03
max    1.799977e+06

user_id : 134057

action : 360

action_type : 11

action_detail : 156

device_type : 14

Combined : 439

In [4]:
# Add columns for  count and Sec_elapsed

sessions['count'] = 1
se50 =sessions['secs_elapsed'].quantile(0.50)
sessions['secs_elapsed50'] = np.where(sessions['secs_elapsed'] > se50, se50,sessions['secs_elapsed'])

In [5]:
sessions = (sessions.groupby('user_id')['count','secs_elapsed','secs_elapsed50'].sum()).reset_index()

In [6]:
sessions.head()

      user_id  count  secs_elapsed  secs_elapsed50
0  00023iyk9l     39      867896.0         29096.0
1  0010k6l0om     62      586543.0         42155.0
2  001wyh0pz8     89      282965.0         77871.0
3  0028jgx1x1     30      297010.0         19022.0
4  002qnbzfs5    788     6487080.0        472339.0

In [7]:
sessions.to_csv('../tempData/Processed_Session.csv',index = False)